* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-size: 40px;
    margin: 5;
}

h2 {
    font-size: 32px;
    margin: 5;
}

h3 {
    font-size: 24px;
    margin: 5;
    color: #c3c3c3;
}

p {
    font-size: 16px;
    margin: 5;
}

body {
    justify-content: center;
    text-align: center;
    min-height: 100vh;   
    background-color: #000000;
    margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  min-height: 70%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}


hr {
    border-image: linear-gradient(
        to right,
        #ffffff00 1%,
        #ffffff 30%,
        #ffffff 70%,
        #ffffff00 100%
    ) 1;
    display: block;
    margin: 0px 20px;
}